.AppComponent {
  margin-top: 0;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 32px 0;
  font-size: 46px;
  font-weight: 800;
}
@media screen and (min-width :830px) {
  .AppComponent{
    max-width: 80%;
    margin: 0 10rem;
  }
}
